<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= alert %>
  </div>
<% end %>
