<div class="counters">
  <span>
    <h1 class="muted"><%= @proposal_counts.size %></h1>
    <small>open calls have received papers</small>
  </span>
  <% @proposal_counts.each do |call, count| %>
  <span>
    <h1 class="muted"><%= count %></h1>
    <small>papers<br/><%= call.title %></small>
  </span>
  <% end %>
  <span>
    <h1 class="muted"><%= @user_count %></h1>
    <small>users registered</small>
  </span>
</div>
