<div class="counters">
  <span>
    <h1 class="muted"><%= @eurucamp_paper_count %></h1>
    <small>papers submitted to eurucamp</small>
  </span>
  <span>
    <h1 class="muted"><%= @jrubyconf_paper_count %></h1>
    <small>papers submitted to JRubyConf EU</small>
  </span>
  <span>
    <h1 class="muted"><%= @user_count %></h1>
    <small>users registered</small>
  </span>
</div>
