<div class="counters">
  <span>
    <h1 class="muted"><%= @paper_count %></h1>
    <small>papers submitted</small>
  </span>
  <span>
    <h1 class="muted"><%= @user_count %></h1>
    <small>users registered</small>
  </span>
</div>
