<hr>
<footer>
  <p>
    This community event is proudly organized by <%= link_to 'DRUG', 'http://drug.org.pl' %>
    <span class="separator">·</span>
    When in doubt, ping us on <%= mail_to 'all@wrocloverb.com', 'all@wrocloverb.com' %>
  </p>
</footer>
