<hr>
<footer>
  <p>
    This community event is proudly organized by <%= link_to 'Ruby Berlin e.V.', 'http://rubyberlin.org/' %>
    <span class="separator">·</span>
    When in doubt, shoot an email to <%= mail_to 'info@eurucamp.org', 'info@eurucamp.org' %>
  </p>

  <%= render 'main/counters' %>
 </footer>
