<ul class="nav">
  <!--
  <li class="active"><a href="#">Call For Papers</a></li>
  <li><a href="http://wrocloverb.com/">About the conference</a></li>
  <li><a href="http://blog.wrocloverb.com/">Blog</a></li>
  -->
</ul>
