<ul class="nav nav-pills pull-right">
  <% if current_user %>
    <li><%= link_to 'Papers', papers_path %></li>
    <li><%= link_to 'Profile', '#' %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <% end %>
</ul>
