.frontpage {
  background: asset-url('homepage-dark.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  
  footer .columns {
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
}


#homepage-background {

  section {
    margin: 30% 0 10em;
    text-align: center;

    h1 {
      color: white;
    }

    .hint {
      color: white;

      a, a:visited {
        color: #fafb47; // $eurucampYellow;
      }
    }
  }

  .socialmedia {
    float: right;
    padding-bottom: 10px;

    .wrapper {
      display: inline-block;
    }
  }
}