.frontpage {
  background: asset-url('homepage-dark.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;

  footer .columns {
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
}

#homepage-background {

  section {
    margin: 40% 0 10em;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    
    h1 {
      color: #222;
    }

    .hint {
      color: #222;
    }
  }

  .socialmedia {
    float: right;
    position: fixed;
    top: 0em;
    right: 1em;

    .wrapper {
      display: inline-block;
    }
  }
}

