<div class="auth">
  <a class="button-auth button-github  large" href="/auth/github">Sign in with <b>GitHub</b></a>
  <a class="button-auth button-twitter large" href="/auth/twitter">Sign in with <b>Twitter</b></a>
</div>

<p class="hint">
  You can also
  <%= link_to 'sign up', new_registration_path(:user) %>
  or
  <%= link_to 'sign in with password', new_session_path(:user) %>.
</p>
