<div class="small-12 columns" id="homepage-background">
  <section>
    <header>
      <h1>Call for Proposals</h1>
    </header>
    <div class="auth">
      <a class="btn-auth btn-github  large" href="/auth/github">Sign in with <b>GitHub</b></a>
      <a class="btn-auth btn-twitter large" href="/auth/twitter">Sign in with <b>Twitter</b></a>
    </div>

    <p class="hint">
      You can also
      <%= link_to 'sign up', new_registration_path(:user) %>
      or
      <%= link_to 'sign in with password', new_session_path(:user) %>.
    </p>
  </section>

  <div class="socialmedia show-for-large-up">
      <div class="warpper"><div class="fb-like" data-href="http://cfp.eurucamp.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div></div>
      <div class="wrapper"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfp.eurucamp.org" data-text="eurucamp call for proposals" data-via="eurucamp" data-related="eurucamp">Tweet</a></div>
  </div>
</div>
