<h1>Great to see you here</h1>

<div class="rules">
  We're really excited to finally see your proposal. The rules are simple:

  <ul>
    <li>there's <strong>no limit</strong> on the number of proposals you can submit</li>
    <li>CFP ends on the last minute of <strong>January 31st 2013</strong></li>
    <li>if one of your proposals is accepted you'll be notified no later than <strong>February 3rd</strong></li>
    <li>we may pick your proposal sooner if it's outstanding, so <strong>don't wait till the end!</strong></li>
    <li>we'll do our best to review and <strong>provide feedback</strong> promptly</li>
    <li>we value your contributions, if your proposal won't be chosen - worry not, a special <strong>pool of tickets</strong> will be <strong>reserved</strong> for all CFP participants</li>
  </ul>

  Last but not least, don't forget what the <%= link_to 'main point', 'http://blog.wrocloverb.com/post/7892841588/the-main-point-of-wroc-love-rb-conference-is-to' %> of the conference is!
</div>

<%= link_to 'Go to proposals', papers_path, class: 'btn btn-success' %>
<%= link_to 'Tell us more about yourself', profile_path, class: 'btn btn-success' %>
