<h1>Great to see you here</h1>

<div class="rules">
  We're really excited to finally see your proposal. A summary of the rules:

  <ul>
    <li>there's <strong>no limit</strong> on the number of proposals you can submit</li>
    <li>CFP for eurucamp core ended on <strong>15th May 2013</strong> (CEST).
        You can submit a proposal to <a href="http://jrubyconf.eu">JRubyConf EU</a> until the last minute of <strong>31st May</strong>.
    </li>
    <li>if one of your proposals to eurucamp core is accepted you'll be notified no later than <strong>19th May</strong></li>
    <li>if one of your proposals to JRubyConf EU is accepted you'll be notified no later than <strong>4th June</strong></li>
    <li>we'll do our best to review and <strong>provide feedback</strong> promptly</li>
    <li>we value your contributions, if your proposal won't be chosen - worry not, a special <strong>pool of tickets</strong> will be <strong>reserved</strong> for all CFP participants</li>
  </ul>

  <%= link_to 'Full details of our CFP process are here', 'http://2013.eurucamp.org/cfp' %>

</div>

<%= link_to 'Go to proposals', papers_path, class: 'btn btn-info' %>
<%= link_to 'Tell us more about yourself', profile_path, class: 'btn btn-info' %>
