defaults: &defaults
  adapter: postgresql
  encoding: utf8
  host: localhost
  port: 5432
  pool: 5
  username: postgres

development:
  <<: *defaults
  database: cfp_development

test: &test
  <<: *defaults
  database: cfp_test
