<% content_for :header do %>
  <h1>
    Editing proposal.
    <small>Trying to be more creative than last time? Good luck!</small>
  </h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @paper %> |
