<h1><%= @paper.title %></h1>

<div class="papers">
  <%= markdown @paper.private_description %>

  <% if @paper.public_description.present? %>
    <hr>
    <%= markdown @paper.public_description %>
  <% end %>
</div>

<% if current_user && current_user.can_edit_paper?(@paper) %>
  <%= link_to 'Edit', edit_paper_path(@paper), class: 'btn btn-success' %>
<% end %>
