@font-face {
    font-family: 'sonarbold';
    src: url('http://assets.eurucamp.org/fonts/sonar-bold-webfont.eot');
    src: url('http://assets.eurucamp.org/fonts/sonar-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://assets.eurucamp.org/fonts/sonar-bold-webfont.woff') format('woff'),
         url('http://assets.eurucamp.org/fonts/sonar-bold-webfont.ttf') format('truetype'),
         url('http://assets.eurucamp.org/fonts/sonar-bold-webfont.svg#sonarbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sonarnormal';
    src: url('http://assets.eurucamp.org/fonts/sonar-normal-webfont.eot');
    src: url('http://assets.eurucamp.org/fonts/sonar-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://assets.eurucamp.org/fonts/sonar-normal-webfont.woff') format('woff'),
         url('http://assets.eurucamp.org/fonts/sonar-normal-webfont.ttf') format('truetype'),
         url('http://assets.eurucamp.org/fonts/sonar-normal-webfont.svg#sonarnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sonarmedium';
    src: url('http://assets.eurucamp.org/fonts/sonar-medium-webfont.eot');
    src: url('http://assets.eurucamp.org/fonts/sonar-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://assets.eurucamp.org/fonts/sonar-medium-webfont.woff') format('woff'),
         url('http://assets.eurucamp.org/fonts/sonar-medium-webfont.ttf') format('truetype'),
         url('http://assets.eurucamp.org/fonts/sonar-medium-webfont.svg#sonarmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
