/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min.css
 *= require auth-buttons
 *= require_self
 *= require papers.css.scss
 */

body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

a.root:hover {
  text-decoration: none;
}

a.root:hover h3 {
  color: #08c;
}

.container-narrow {
  margin: 0 auto;
  max-width: 730px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container-wide {
  margin: 0 auto;
  max-width: 1200px;
}

.container-wide > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 48px;
}

.jumbotron p.lead {
  margin: 30px 0;
}

.jumbotron .auth {
  margin: 50px 0;
}

.jumbotron .hint a {
  font-weight: bold;
}

.jumbotron form {
  text-align: left;
}

.btn {
  font-size: 18px;
  padding: 8px 18px;
  border-radius: 2px;
}

.papers, .profile, .bio, .rules, .profiles {
  margin: 50px 0;
}

.papers textarea#paper_public_description {
  height: 100px;
}

.profile textarea#user_bio {
  height: 200px;
  width: 100%;
}

.papers input[type=text], .papers textarea {
  width: 100%;
  margin-bottom: 30px;
}

.papers table td.title {
  width: 50%;
}

.rules ul li {
  margin: 5px 0;
}

footer span.separator {
  padding: 0 1px;
  font-weight: bold;
}

.socialmedia {
  text-align: center;
}

.socialmedia .wrapper {
    width: 75px;
    vertical-align: top;
    display: inline-block;
    margin: 7px;
}

.counters {
  padding: 1em;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.counters h1 {
  font-size: 400%;
}

.counters span {
  padding: 0 1em;
  display: table-cell;
}

.profiles .table img {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
}

.profile .table img {
  width: 64px;
  height: 64px;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
}

.selected {
  background-color: #d6ffd6;
}
