@import "bourbon";
@import "fonts";

$body-font-family:   'sonarnormal', sans-serif;
$header-font-family: 'sonarnormal', sans-serif;

$eurucampRed: #f6271b;
$eurucampYellow: #fafb47;

$topbar-bg-color: $eurucampRed;
$primary-color: $eurucampRed;

@import "foundation";

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
//  background-color: #eee; // GUILLE HATES THIS COLOR
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for Devise views
// using Foundation
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @include panel();
  padding-bottom: 60px;
}
.authform form a {
  font-size: rem-calc(13);
}
.authform form p {
  font-size: rem-calc(13);
}
.authform .form-group {
  // for Bootstrap, not used for Foundation
}
.authform .form-control {
  // for Bootstrap, not used for Foundation
}
.authform .checkbox {
  // for Bootstrap, not used for Foundation
}
.authform fieldset {
  @include panel();
}
.authform #error_explanation {
  @extend .alert-box;
  @extend .alert;
}
.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}
.button-xs {
  @extend .button;
  @extend .radius;
  @extend .tiny;
}

body > footer p{
  padding-top: 1em;
}

@import "components/admin_papers"
